@import "tailwindcss";

html {
  @apply bg-slate-900;
  font-family: system-ui;
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5a81ad;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #314158;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #66a3d9;
  }
}
